body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: blue;
}

#meta {
  float: left;
  width: 560px;
  height: 560px;
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-right: 100px;
  margin-top: 100px;
}

h2 {
  color: yellow;
}

h3 {
  color: blue;
}

button {
  background-color: yellow;
  padding: 10px;
  font-size: 25px;
  color: blue;
  margin-bottom: 30px;
}

button:hover {
  background-color: blue;
  color: yellow;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 2px solid black;
  float: right;
  margin-right: 100px;
  margin-top: 100px;
}

#grid div {
  width: 20px;
  height: 20px;
}

.dot {
  background-color: #cfa500;
  border: 7px solid black;
  box-sizing: border-box;
  border-radius: 50%;
}

.energizer {
  background-color: white;
  border-radius: 10px;
}

.wall {
  background-color: grey;
}

.pac-man {
  background-image: url(assets/pac2.png);
  background-size: contain;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.red {
  background-color: black!important;
  background-image: url('assets/red.png') ;
  background-size: contain;
  border: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
}

.dizzy-red{
  background-image: url('assets/rD.png')!important ;
}

.dizzy-cyan{
  background-image: url('assets/bD.png')!important ;
}

.dizzy-orange{
  background-image: url('assets/yD.png')!important ;
}

.cyan {
  background-color: black!important;
  background-image: url('assets/blue.png') ;
  background-size: contain;
  border: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
}

.orange {
  background-color: black!important;
  background-image: url('assets/yellow.png') ;
  background-size: contain;
  border: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
}

.dizzy {
  background-color: blue;
  border: 0px;
  border-radius: 0px;
}
