body {
  background-image: url("bg.jpg");
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.list-group-item {
background-color: transparent;
border-top: 1px solid #ddd;
border-radius: 0;
color: #fff;
}

a {
  color: white;
}

#games-list {
  margin: auto;
}
