body {
  background-image: url("img/candy-crush-background.png");
  background-size: cover;
}

#meta {
  margin-left: 200px;
  text-align: center;
  font-size: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 560;
  height: 560px;
  color: darkred;
}

img {
  width: 270px;
}

button {
  background-color: white;
  padding: 10px;
  font-size: 25px;
  color: darkred;
  margin-bottom: 30px;
}

button:hover {
 background-color: darkred;
 color: white;
}

#grid {
  margin-right: 100px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  background-color: #f5d9d5;
  float: right;
}

#grid div {
  height: 70px;
  width: 70px;
}
