body {
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: white;
  padding: 10px;
  font-size: 25px;
  margin-top: 20px;
  color: blue;
}

#grid {
  height: 300px;
  width: 350px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin: 0 auto;
}

#grid div {
  height: 50px;
  width: 50px;
}

.player-one {
  background-color: red;
  border-radius: 10px;
}

.player-two {
  background-color: yellow;
  border-radius: 10px;
}

.disabled {
  pointer-events: none;
}

h1, h3 {
  margin: 0;
}
