body {
  background-image: url('img/background.png');
  background-size: cover;
  color: black;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: white;
  padding: 10px;
  font-size: 30px;
  margin-top: 20px;
  color: green;
}

button:hover {
 background-color: green;
 color: white;
}

.square {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-image: url("img/grass.jpg");
  background-size: cover;
}

#grid {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
  float: left;
}

#meta {
  margin-top: 50px;
  text-align: center;
  float: right;
  width: 618px;
  height: 618px;
  margin-right: 50px;
}

.mole {
  background-image: url("img/mole.png");
  background-size: cover;
}

.selected {
  background: green;
  color: white;
}

.disabled {
  pointer-events: none;
}
